body{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size-adjust: inherit;
    font-size: 20px;
    color: limegreen;
    background-image: url("wp2844805.jpg");
    min-width: 1000px;
    min-height: 600px;
}

.maincontainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size-adjust: inherit;
    font-size: 20px;
    color: limegreen;
    min-width: 1000px;
    min-height: 600px;
}
.configurator {
    display: flex;
    flex-direction: column;
    border: 10px solid black;
    align-items: center;
    margin-bottom: 5px;   
    padding-bottom: 5px;
    background-size: 100% auto;
    color: limegreen;
    background-image: url("wp2844805.jpg");
}
.DivSveTabele{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-collapse: collapse;
}
.DivJednaTabela{
    margin: 20px;
    padding: 20px;   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Udiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;   
    padding: 5px;
    background-size: 100% auto;
}
.unos{
    margin: 5px;   
    padding: 5px;
}
.dugme{
    background-color: #4CAF50;
  border:2px solid chartreuse;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 9px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.dugme:hover {
    background-color: chartreuse;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
  .RadioDiv{
    text-align: center;
    margin: 5px;
    font-size: x-large;
  }
.container{
    display: flex;
    border:  3px dashed black;
    margin: 5px;
    border-collapse: collapse;
    background-image: url("wp2844805.jpg");
}
.container:hover *{
    color: rgb(227, 251, 7);
}
.contForm{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
}
.contForm1 * {
    margin-bottom: 10px;
}
table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
table, th, tr, td
{
    border: 3px solid mediumaquamarine;
    text-align: center;
}
td{
    width:20%;
}
th{
    background-color: black;
}
tr:hover
{
    background-color:#0f2e13;
}

