body{
    display: flex;
    flex-direction: column;

    font-family: 'Times New Roman', Times, serif;
    font-size-adjust: inherit;
    font-size: 20px;
    color: limegreen;
    background-image: url("wp2844805.jpg");
    min-width: 750px;
    min-height: 600px;
}

.maincontainer{
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size-adjust: inherit;
    font-size: 20px;
    color: limegreen;
    min-width: 705px;
    min-height: 600px;
}
.configurator {
    display: flex;
    flex-direction: column;
    border: 10px solid rgb(20, 116, 100);
    background-image: linear-gradient(23deg,rgb(78, 189, 78) 1%, rgb(63, 63, 168) 100% );
    border-radius: 9px;
    align-items: center;
    margin-bottom: 5px;   
    padding-bottom: 5px;
    background-size: 100% auto;
    color: limegreen;
}
.divIzborTakmicenja{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: 100% auto;
    color: limegreen;
    border-radius: 9px;
    background-image: url("wp2844805.jpg");

}
.elementiZaIzbor {
    display: flex;
    flex-direction: column;
    border: 10px medium  black;
    border-radius: 9px;
    align-items: center;  
    background-size: 100% auto;
    color: limegreen;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    margin:20px;
    padding: 20px;
    font-size: 30px;
    background-image: linear-gradient(23deg, rgb(63, 63, 168) 1%, rgb(78, 189, 78) 100%);

}
.DivSveTabele{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-collapse: collapse;
}
.DivSveTabele:hover *{
    color: rgb(227, 251, 7);
}
.DivJednaTabela{
    margin: 5px;
    padding: 5px;   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Udiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;   
    padding: 5px;
    background-size: 100% auto;
}
.unos{
    margin: 5px;   
    padding: 5px;
}
.dugme{
    background-color: #4CAF50;
  border:2px solid chartreuse;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 9px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.dugme:hover, .dugmeUTabeli:hover{
    background-color: chartreuse;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.divUKilazi *{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    

}
/*

.divUKilazi  {
    align-items: center;
    flex-direction: row;
    margin: 0px;

}
*/
.dugmeUTabeli {
    background-color: #4CAF50;
    border:2px solid chartreuse;
    display: table-cell;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 9px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 25px; 
    width: 60px; 
}
.dugmeUTabeliBrisi{
    font-size: 25px;
    height: 40px; 
    width: 80px; 
}
.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
  .RadioDiv{
    text-align: center;
    margin: 5px;
    font-size: x-large;
  }
.container{
    display: flex;
    border:  3px dashed black;
    margin: 5px;
    border-collapse: collapse;
    align-items: center;
    background-image: url("wp2844805.jpg");
}

.contForm1{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 250px;
    padding: 20px;
    padding-right: 50px;
    text-align: center;
}
.datum{
    width: 20px;
}
.contForm1 * {
    margin-bottom: 10px;
    width: 310px;
}
table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
table, th, tr, td
{
    border: 3px solid mediumaquamarine;
    text-align: center;
}
/*
td *{
    
    width:20%;
    margin: 3px;
}
*/
th{
    background-color: black;
}
tr:hover
{
    background-color:#0f2e13;
}
.izmeni{
    font-size: 15px;
}
.izbor{
    height: 100%;
    margin:10px;
}

@media only screen and (max-width:900px) {

    .configurator {
        display: flex;
        flex-direction: column;
        border: 10px solid rgb(20, 116, 100);
        background-image: linear-gradient(23deg,rgb(78, 189, 78) 1%, rgb(63, 63, 168) 100% );
        border-radius: 9px;
        align-items: center;
        text-align: center;
        margin-bottom: 5px;   
        padding-bottom: 5px;
        background-size: 100% auto;
        color: limegreen;
    }
    .contForm1{
        padding: 20px;
        padding-right: 20px;
    }
    .divIzborTakmicenja{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 100% auto;
        color: black;
        border-radius: 9px;
        padding: 50px;
    
    }
    .Udiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;   
        padding: 5px;
        background-size: 100% auto;
    }
}
@media only screen and (max-width:1170px) {

    .container{ /*prikaz kluba sa ranije prebacuje u flex-direction: column */
        display: flex;
        flex-direction: column;
        border:  3px dashed black;
        margin: 5px;
        text-align: center;

        border-collapse: collapse;
        background-image: url("wp2844805.jpg");
    }
    .contForm1{
        padding: 20px;
        padding-right: 20px;
    }
}
